<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_ILive">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="CustomBinding_IGeocachingMobile">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://api.groundspeak.com/LiveV6/geocaching.svc/Silverlightsoap"
                binding="customBinding" bindingConfiguration="CustomBinding_ILive"
                contract="GCLiveAPI.ILive" name="CustomBinding_ILive" />
            <endpoint address="https://api.groundspeak.com/LiveV6/geocaching.svc/InternalSilverlightsoap"
                binding="customBinding" bindingConfiguration="CustomBinding_IGeocachingMobile"
                contract="GCLiveAPI.IGeocachingMobile" name="CustomBinding_IGeocachingMobile" />
        </client>
    </system.serviceModel>
</configuration>